body {
  margin: 0;
  padding: 0;
  background-color: #f9e79f;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  background-color: #f4d03f;
  padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 40%;
  max-height:200px;
  min-height:200px;
  width: 80%;
  max-width: 300px;
  min-width: 300px;
  margin: 20px;
}
.info{
  padding: 30px 10px ;
}
.card h2 {
  margin-top: 0;
  font-size: 2em;}

.info p {
  
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #333;
  font-size: 20px;
}
@media (max-width: 768px) {
  .card {
      width: 90%;
      padding: 20px 40px;
  }

  .card h2 {
      font-size: 1.5em;
  }

  a {
      font-size: 1em;
      margin: 5px;
      padding: 8px 16px;
  }
}
